@import 'normalize';
@import 'syntax';
@import 'variables';

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  line-height: 1.5;
}

body {
  font-family: 'Lato', sans-serif;
  color: $body-color;
  background-color: $dark;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-weight: 400;
  color: $white;
}

img {
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

img + em {
  text-align: center;
  display: block;
  margin-top: 10px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

blockquote {
  border-left: 5px solid $nord3;
  padding-left: 1.1rem;
  margin-left: 1rem;
  font-style: italic;
  color: $nord4;
}

pre {
  padding: 1rem 2rem;
  overflow: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  word-break: break-all;

  code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
    overflow: auto;
    white-space: pre-wrap;
    word-wrap: break-word;
    word-break: break-all;
  }
}

table {
  border: 1px solid $nord3;
  background-color: $nord1;
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  color: $body-color;
}
table td, table th {
  border: 1px solid $nord3;
  padding: 3px 2px;
}
table tbody td {
  font-size: 13px;
}
table tr:nth-child(even) {
  background: $nord2;
}
table thead {
  background: $nord10;
  border-bottom: 1px solid $nord3;
}
table thead th {
  font-size: 14px;
  font-weight: bold;
  color: $white;
  border-left: 1px solid $nord3;
}
table thead th:first-child {
  border-left: none;
}

table tfoot {
  font-size: 14px;
  font-weight: bold;
  color: $white;
  background: $nord2;
  border-top: 2px solid $nord3;
}
table tfoot td {
  font-size: 14px;
}

.wrapper {
  max-width: 1500px;
  position: relative;
}

.post, .article-page {
  background-color: $lightgray;
}

::-moz-selection {
  background: rgba($nord9, 0.5);
  color: $white;
}

::selection {
  background: rgba($nord9, 0.5);
  color: $white;
}

.clearfix::before, .clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* - - - - - - - - - - Home Page Styles - - - - - - - - - - */
@import 'parts/home-page';

/* - - - - - - - - - - Post Page Styles - - - - - - - - - - */
@import 'parts/post-page';

/* - - - - - - - - - - Tag Styles - - - - - - - - - - */
@import 'parts/tag';

/* - - - - - - - - - - Media Styles - - - - - - - - - - */
@import 'media';
